body {
    background-image: url("frostcity.webp");
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 106, 172);
}

.lore-description {
    text-align: center;
    font-family: Papyrus;
    color: rgb(54, 54, 54);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.objective-point {
    text-align: center;
    font-family: monospace;
    color: rgb(64, 67, 159);
    font-size: 25px;
    margin-bottom: 50px;
}

.aligncenter1 {
 text-align: center;
}

#playerNameInput {
    text-align: center;
    font-size: 40px;
    margin-left: 41%;
    margin-bottom: 50px;
    color: rgb(0, 184, 235);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    width: 320px;
    border: 5px ridge rgb(47, 71, 250);
    
}

.playbutton {
    text-align: center;
    font-family: sans-serif;
    color: rgb(208, 34, 34);
    font-size: 30px;
    border: 5px ridge black;
    background-color: grey;
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
}
a { 
    text-decoration: none; 
}

.listone {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 15em;
    display: inline-block;
    display: flex;
    margin-left: -30px;
    margin-bottom: 6px;
}

.listone, .control-settings {
    list-style-type: none;
    display: inline-block;
    display: flex;

}
.control-settings {
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-left: +1710px;
    margin-bottom: -30px;
    color: rgb(212, 106, 0);
    font-weight: bold;
    width: 165px;
    background-color: rgb(255, 217, 46);
    border: 5px ridge black;
}   

.bottomLeftlist,  .list-two {
    padding: 0 .75%;
}

a {
    color: snow;
}