body {
    background-image: url("../MediaImagery/frostcity.jpeg");
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    color: rgb(0, 105, 170);
}

.blue1 /*Navigation Blue*/{color: rgb(1, 92, 237);}
.blue2 /*Navigation background blue*/ {color: rgb(0, 0, 103);}
.blue3 /*Objective Section Blue*/{color: rgba(0, 0, 182, 0.784);}
.blue4 /*Button backgrund color */{background-color: rgb(0, 30, 75)}
.blue5 /*Button Text color*/{color: rgb(0, 105, 170);}
.blue6 /* Color*/{}

.lore-description {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 182, 0.784);
    padding: 0 100px;
}

.ImportantNotice {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-left: 100px;
}

.aligncenter1 {
 text-align: center;
    }

.button {
    width: 40px;
}

 .playbutton {
    text-align: center;
    font-family: sans-serif;
    color: rgb(10, 175, 210);
    text-decoration: rgb(10, 175, 210);
    font-size: 30px;
    border: 5px ridge rgb(3, 5, 17);
    background-color: rgb(0, 30, 75);
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    text-decoration-color: blue;
}

.playbutton2 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(10, 175, 210);
    font-size: 20px;
    border: 5px ridge rgb(0, 0, 0);
    background-color: rgb(0, 30, 75);
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0 auto;
    display: block;
    text-decoration: underline;
    text-decoration-color:blue;
}

a { 
    text-decoration: none;
    color: rgb(0, 105, 170);
}

.listone {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    margin-top: 10em;
    display: inline-block;
    display: flex;
    margin-left: -30px;
    margin-bottom: 6px;
    list-style-type: none;
    display: inline-block;
    display: flex;
}

.list-nav {
    width: 17%;
    background-color: rgba(100, 100, 100, 0.1);
    list-style: none;
    position: fixed;
    top: 0;
    padding-left: 2px;
}

.list-nav a {
    color: rgb(1, 92, 237);
    font-weight: bold;
    font-size: 25px;
    font-family: fantasy;
    text-align: left;
    display: block;
    padding: 6px 20px 10px 30px;
    text-decoration: none;
}

.list-nav a:hover {
    background-color: rgb(0, 0, 103);
}

.list-nav a.hover {
    background-color: #00acca;
}