/* Mainbackgrounding and general CSSing */
body {
    background-color: rgb(219, 0, 0);
}

.mainfront {
    background-image: url("../MediaImagery/frostcity.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-upPage {
    background-image: url("../MediaImagery/cavepunk.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: bold;
    font-size: 100px;
}

#aligncenter1 {text-align: center;}

/*anchor section text decor remover*/
a {text-decoration: none;}
/*anchor text closer*/


/* Mainbackgrounding and general CSS Closing */

/*COLOR Classes section*/
.blue1 /*Navigation Blue*/{color: rgb(1, 92, 237);}
.blue2 /*Navigation background blue*/ {color: rgb(0, 0, 103);}
.blue3 /*Objective Section Blue*/{color: rgba(0, 0, 182, 0.784);}
.blue4 /*Button backgrund color */{background-color: rgb(0, 30, 75);}
.blue5 /*Button Text color*/{color: rgb(50, 100, 240);}
.blue6 /*Link Blue*/ {color: rgb(10, 175, 210);}
.borderdarkblue {border: 5px ridge rgb(3, 5, 17);}
.navcolorbackground {background-color: rgba(100, 100, 100, 0.1);}
.navtextcolor {color: rgb(1, 92, 237);}
.navbackhovercolor {background-color: rgb(0, 0, 103);}
.linkcolorblue {color: rgb(10, 175, 210);}
.headblue /*Heading color for Escape The Frost titles*/{color: rgb(0, 105, 170);}
.linkunderlineblue {text-decoration-color:rgb(0, 0, 255);}
.blue7 {color: rgb(0, 0, 103);}
.blue8 {color: rgb(252, 122, 0);}
/*Color Classes section close*/

/* Landing Page Main CSS */
.MainTitle {color: rgb(0, 105, 170);}

.mainSign {
    font-size: 50px;
    color: white;
}

.lore-description {
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 182, 0.784);
    padding: 0 100px;
}

.ImportantNotice {
    font-size: 35px;
    font-weight: bold;
    padding-left: 100px;
}

/* Landing Page Main CSS Closing */

/* Opening AboutMe */
.About {color:rgb(27, 208, 3)}

.AboutMe {
    background-image: url('../MediaImagery/FrostSurvivor.png');
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    margin: 0; /* Remove any default margin */
    font-size: 35px;
    font-weight: bold;
    font-family: serif;
    background-attachment: fixed;
}

#AboutMeBody {
    /* width: 900px;            
    height: 350px;            */
    padding: 20px 30px 20px;
    /* padding-left: 625px;           */
    text-align: center;      /* Horizontally center the text */
    display: flex;           /* Use flexbox for centering */
    justify-content: center; /* Centers text horizontally */
    align-items: center;     /* Centers text vertically */
    font-size: 24px;         /* Set text size */
    line-height: 1.5;
    font-weight: bold;
    overflow: hidden; /* Hide overflowing content (if any) */
    color: rgb(27, 208, 3);
}

.Developer {
    /* width: 900px;       
    height: 350px;        */
    padding-top: 10px;   /* Optional padding on top */
    /* padding-left: 625px; */
    text-align: center;  /* Horizontally centers the text */
    line-height: 1.5;    /* Increases line spacing */
    display: flex;       /* Use flexbox for vertical centering */
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    font-size: 20px;
    overflow: hidden;
    color: rgb(208, 92, 3);
}

.aboutpage {
    /* position: relative; */
    margin-left: 20%;
    text-align: center;
    max-width: 80%;
    /* width: 100%;  Make sure it takes full width */
    padding-top: 60px;  /* Add top padding if needed */
}

.aboutlist {
    list-style: none;
}
/* Closing AboutMe */

                                        /* Page Change */

/* contact page area */
.About {
    margin-top: -120px;
}

.contactpage {
    text-align: center;
    margin-left: 20%;
    max-width: 100% 50%;
    padding: 140px;  /* Add top padding if needed */
    color: rgb(255, 255, 255);
    border-radius: 50px; /* Rounded borders */
}
.About {
    margin-top: -40px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #1b6b1f;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: rgba(75, 75, 75, 0.443);
    padding: 20px;
    padding-bottom: 20px;
    margin: 0px 180px;
  }

  .containingcontainer {
    margin-top: -60px;
    margin: 0px 180px;
    background: none;
}

  #fuser {
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}

#lemail {
    font-weight: bold;
    font-size: 25px;
    border-radius: 20px;
}

#subject {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
 .playbutton3 {
    font-family: sans-serif;
    color: rgb(50, 100, 240);
    font-size: 30px;
    border: 5px ridge rgb(3, 5, 17);
    background-color: rgb(0, 30, 75);
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    text-decoration: double;
    margin-bottom: -135px;
}

/* contact page closed */

                                        /* Page Change */


/* .button {
    width: 40px;
/* }                what is .button attached to?? */

/*Playbuttons section*/
 .playbutton {
    font-family: sans-serif;
    color: rgb(50, 100, 240);
    font-size: 30px;
    border: 5px ridge rgb(3, 5, 17);
    background-color: rgb(0, 30, 75);
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    text-decoration: double;
}

.playbutton2 {
    font-family: sans-serif;
    color: rgb(10, 175, 210);
    font-size: 20px;
    border: 5px ridge rgb(3, 5, 17);
    background-color: rgb(0, 30, 75);
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0 auto;
    display: block;
    text-decoration: underline;
    text-decoration-color:rgb(10, 175, 210);
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }
/*Playbuttons section close*/

/*Navigation Menu*/
.list-nav {
    width: 17%;
    background-color: rgba(100, 100, 100, 0.1);
    list-style: none;
    position: fixed;
    top: 0;
    padding-left: 2px;
}

.list-nav a {
    color: rgb(1, 92, 237);
    font-weight: bold;
    font-size: 25px;
    font-family: fantasy;
    text-align: left;
    display: block;
    padding: 6px 20px 10px 30px;
    text-decoration: none;
}

.list-nav a:hover {
    background-color: rgb(0, 0, 103);
}
/*Navigation Menu Close*/

                                        /* Page Change */

/*Sign Up Section*/
.mainSign {
    display: block;
    font-family: fantasy;
    padding: 6px 20px 10px 30px;
}

.Stylin {
    font-family: sans-serif;
    color: rgb(50, 100, 240 );
    font-size: 40px;
    border: 5px ridge rgb(4, 0, 41);
    background-color: rgb(0, 32, 92);
    border-radius: 30px;
    padding: 10px 15px 15px 15px;
    margin: 25px 600px 25px;
    display: block;
}

#name, #email, #password {
    height: 35px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(53, 208, 231);
    border: 5px ridge rgb(31, 143, 255);
    border-radius: 30px;
}

#email {
    margin-right: 50px;
    margin-left: 80px;
}

.emailname {
    margin-left: 60px;
    display: inline-block;
}

#password {
    margin-left: 20px;
}

#password, #email, #name {
    padding: 0px 10px;
}

.subtitleSignup {
    font-size: 50px;
    color: rgb(31, 143, 255);
    margin-bottom: 50px;
}

/* Sign Up Closing */