body {
    background-color: rgb(0, 126, 164);
}

.mainfront {
    background-image: url("../MediaImagery/frostcity.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sign-upPage {
    background-image: url("../MediaImagery/cavepunk.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: bold;
    font-size: 100px;
}

.MainTitle {color: rgb(0, 105, 170);}

.mainSign {
    font-size: 50px;
    color: white;
}

/*COLOR Classes section*/
.blue1 /*Navigation Blue*/{color: rgb(1, 92, 237);}
.blue2 /*Navigation background blue*/ {color: rgb(0, 0, 103);}
.blue3 /*Objective Section Blue*/{color: rgba(0, 0, 182, 0.784);}
.blue4 /*Button backgrund color */{background-color: rgb(0, 30, 75);}
.blue5 /*Button Text color*/{color: rgb(50, 100, 240);}
.blue6 /*Link Blue*/ {color: rgb(10, 175, 210);}
.borderdarkblue {border: 5px ridge rgb(3, 5, 17);}
.navcolorbackground {background-color: rgba(100, 100, 100, 0.1);}
.navtextcolor {color: rgb(1, 92, 237);}
.navbackhovercolor {background-color: rgb(0, 0, 103);}
.linkcolorblue {color: rgb(10, 175, 210);}
.headblue /*Heading color for Escape The Frost titles*/{color: rgb(0, 105, 170);}
.linkunderlineblue {text-decoration-color:rgb(0, 0, 255);}
.blue7 {color: rgb(0, 0, 103);}
.blue8 {color: rgb(252, 122, 0);}
/*Color Classes section close*/


.lore-description {
    font-size: 35px;
    font-weight: bold;
    color: rgba(0, 0, 182, 0.784);
    padding: 0 100px;
}

.ImportantNotice {
    font-size: 35px;
    font-weight: bold;
    padding-left: 100px;
}

#aligncenter1 {text-align: center;}

.button {
    width: 40px;
}

/*Playbuttons section*/
 .playbutton {
    font-family: sans-serif;
    color: rgb(50, 100, 240);
    font-size: 30px;
    border: 5px ridge rgb(3, 5, 17);
    background-color: rgb(0, 30, 75);
    border-radius: 50px;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    text-decoration: double;
}

.playbutton2 {
    font-family: sans-serif;
    color: rgb(10, 175, 210);
    font-size: 20px;
    border: 5px ridge rgb(3, 5, 17);
    background-color: rgb(0, 30, 75);
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0 auto;
    display: block;
    text-decoration: underline;
    text-decoration-color:rgb(10, 175, 210);
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }
/*Playbuttons section close*/

/*Navigation Menu*/
.list-nav {
    width: 17%;
    background-color: rgba(100, 100, 100, 0.1);
    list-style: none;
    position: fixed;
    top: 0;
    padding-left: 2px;
}

.list-nav a {
    color: rgb(1, 92, 237);
    font-weight: bold;
    font-size: 25px;
    font-family: fantasy;
    text-align: left;
    display: block;
    padding: 6px 20px 10px 30px;
    text-decoration: none;
}

.list-nav a:hover {
    background-color: rgb(0, 0, 103);
}

/*Navigation Menu Close*/
/*anchor section text decor remover*/
a { 
    text-decoration: none;
    
}
/*anchor text closer*/

/*Sign Up Section*/
.mainSign {
    display: block;
    font-family: fantasy;
    padding: 6px 20px 10px 30px;
}

.Stylin {
    font-family: sans-serif;
    color: rgb(50, 100, 240 );
    font-size: 40px;
    border: 5px ridge rgb(4, 0, 41);
    background-color: rgb(0, 32, 92);
    border-radius: 30px;
    padding: 10px 15px 15px 15px;
    margin: 25px auto;
    display: block;
}
